<style>
.container img {
	width: 100%;
	height: auto;
}
</style>

<section class="container">

	<div class="bfapp-ad bfapp-ad01--apple xs-mb1">
		<img src="http://cl.ly/dSA6/top.png"/>
	</div>

	<div class="bfapp-ad bfapp-ad01--apple xs-mt1 xs-mb1">
		<img src="http://cl.ly/dSLW/04%20Dude%20Yawn%20Apple.png"/>
	</div>

	<div class="bfapp-ad bfapp-ad01--apple xs-mb6">
		<img src="http://cl.ly/dSVd/placehlder.png"/>
	</div>

	<div class="bfapp-ad bfapp-ad01--apple xs-mb1">
		<img src="http://cl.ly/dSA6/top.png"/>
	</div>

	<div class="bfapp-ad bfapp-ad01--apple xs-mt1 xs-mb1">
		<img src="http://cl.ly/dTVM/01%20Corgi%20Apple.png"/>
	</div>

	<div class="bfapp-ad bfapp-ad01--apple xs-mb6">
		<img src="http://cl.ly/dSVd/placehlder.png"/>
	</div>

	<div class="bfapp-ad bfapp-ad01--apple xs-mb1">
		<img src="http://cl.ly/dSA6/top.png"/>
	</div>

	<div class="bfapp-ad bfapp-ad01--apple xs-mt1 xs-mb1">
		<img src="http://cl.ly/dSOD/Slice%201.png"/>
	</div>

	<div class="bfapp-ad bfapp-ad01--apple xs-mb6">
		<img src="http://cl.ly/dSVd/placehlder.png"/>
	</div>


</section>
