<style>

*, ::after, ::before {
	box-sizing: border-box;
}

	.wrapper {
		min-width: 300px;
		max-width: 1200px;
	}

	header {
		z-index: 10;
		border-bottom: 1px solid #e32;
	}

	.hothead ul {
		margin-right: -.75%;
		display: -webkit-box;
		display: -webkit-flex;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-orient: vertical;
		-webkit-flex-direction: column;
		-ms-flex-direction: column;
		flex-direction: column;
		-webkit-box-orient: horizontal;
		-webkit-box-direction: normal;
		-webkit-flex-direction: row;
		-ms-flex-direction: row;
		flex-direction: row;
	}

	.hothead li {
		-webkit-box-flex: 1;
		-webkit-flex: 1;
		-ms-flex: 1;
		flex: 1;
		padding-right: .75%;
	}

	.hothead .button {
		height: 94.5%;
		right: 0;
		top: 0;
		-webkit-box-shadow: 0 0 35px 25px white;
		-moz-box-shadow: 0 0 35px 25px white;
		box-shadow: -10px 0 25px 25px rgba(255,255,255,.95);
		-webkit-box-align: center;
		-webkit-align-items: center;
		-ms-flex-align: center;
		align-items: center;
		-webkit-box-pack: center;
		-webkit-justify-content: center;
		-ms-flex-pack: center;
		justify-content: center;
	}

	.share-tools > .col {
		border-right: 2px solid white;
	}

	.share-tools > .col.fill-tumblr {
		border-right: none;
	}

	img {
		width: 100%;
		height: auto;
	}

	.image {

	}

	.image:hover {
		cursor: pointer;
	}

	.gif {
		background-color: rgba(0,0,0,.6);
		top: auto;
	}

	.image-1 .gif {
		top: 40%;
		right: 30%;
	}

	.image-4 .gif {
		top: 45%;
		right: 40%;
	}

	.scrub {
		top: 2%;
		left: 2%;
		background-color: rgba(0,0,0,.6)
	}

	.image-1b .scrub {
		left: 5%;
	}

</style>


<div class="wrapper xs-mx-auto xs-mx2">

	<header class="xs-py1 xs-mb3 md-py2 md-mb2 text-gray--lightest ">

		<i class="fa fa-bars fa-2x xs-mx1 md-mr1 md-mr2"></i>

		<svg class="logo xs-col-5 md-col-2" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 853.3 150.1" enable-background="new 0 0 853.3 150.1"><g fill="#e32"><path d="M0 147.3v-147.3h65.7c28 0 42.4 17.9 42.4 37.5 0 18.3-11.5 30.9-25.4 33.8 15.9 2.4 28.3 17.7 28.3 36 0 22.3-14.6 40-42.8 40h-68.2zm76.1-104.2c0-9.1-6.6-15.5-17.2-15.5h-27.5v30.9h27.5c10.6 0 17.2-5.9 17.2-15.4zm2.9 59.8c0-9.3-6.6-16.8-18.8-16.8h-28.8v33.6h28.9c11.6 0 18.7-6.2 18.7-16.8zM119.6 104.6v-64h28.2v63.1c0 12.7 7.7 21.9 22.7 21.9 14.8 0 22.6-9.2 22.6-21.9v-63.1h28.1v63.9c0 26.8-16.1 45.6-50.6 45.6s-51-19-51-45.5zM230.5 147.3v-21l48.1-61.2h-48.1v-24.5h86.3v20.1l-49 62.1h49.9v24.5h-87.2zM326.9 147.3v-21l48.1-61.2h-48.1v-24.5h86.3v20.1l-49 62.1h49.9v24.5h-87.2zM424.6 147.3v-147.3h102.2v27.6h-70.8v30.9h53.3v27.6h-53.3v61.2h-31.4zM517.2 93.9c0-30.9 23-55.9 55.2-55.9 32 0 53.4 23.9 53.4 58.5v6.6h-79.3c2 13 12.6 23.9 30.7 23.9 9.1 0 21.4-3.8 28.3-10.4l12.6 18.6c-10.6 9.7-27.4 14.8-43.9 14.8-32.5 0-57-21.9-57-56.1zm55.2-32.9c-17.4 0-25 12.1-26.1 22.7h52.6c-.9-10.2-8-22.7-26.5-22.7zM633.4 93.9c0-30.9 23-55.9 55.2-55.9 32 0 53.4 23.9 53.4 58.5v6.6h-79.3c2 13 12.6 23.9 30.7 23.9 9.1 0 21.4-3.8 28.3-10.4l12.6 18.6c-10.6 9.7-27.4 14.8-43.9 14.8-32.5 0-57-21.9-57-56.1zm55.2-32.9c-17.4 0-25 12.1-26.1 22.7h52.6c-.9-10.2-8-22.7-26.5-22.7zM752.3 147.5v-107.1h43c33.7 0 58 20.2 58 53.5 0 33.2-24.2 53.6-57.8 53.6h-43.2zm73.7-53.6c0-16.6-10-30.4-29.6-30.4h-17.4v60.9h17.4c18.7 0 29.6-14.6 29.6-30.5z"/></g></svg>

	</header>

</div> <!-- /.wrapper -->

<div class="wrapper xs-mx-auto xs-px1 md-px0">


	<div class="hothead xs-hide md-show xs-relative col xs-col-12 xs-mb2 md-mb4">

		<ul class="list-unstyled">
			<li class="md-block"><img src="http://cl.ly/c8uI/Bezzerides.png"/></li>
			<li class="md-block"><img src="http://cl.ly/c8uI/Bezzerides.png"/></li>
			<li class="md-block"><img src="http://cl.ly/c8uI/Bezzerides.png"/></li>
			<li class="md-block"><img src="http://cl.ly/c8uI/Bezzerides.png"/></li>
			<li class="md-block"><img src="http://cl.ly/c8uI/Bezzerides.png"/></li>
			<li class="md-block"><img src="http://cl.ly/c8uI/Bezzerides.png"/></li>
			<li class="md-block"><img src="http://cl.ly/c8uI/Bezzerides.png"/></li>
			<li class="md-block"><img src="http://cl.ly/c8uI/Bezzerides.png"/></li>
			<li class="md-block"><img src="http://cl.ly/c8uI/Bezzerides.png"/></li>
		</ul>

		<button class="button button--secondary xs-hide md-show xs-absolute fill-white"><i class="fa fa-caret-right fa-lg"></i></button>

	</div>


	<div class="flow col xs-col-12 md-col-9">

		<div class="header xs-mb4">
			<h1 class="post-title bold xs-text-2 md-text-1">27 Times Taylor Swift Failed So Hard She Almost&nbsp;Won</h1>
			<p class="description xs-mt1 xs-mb2 text-2">So adorably awkward.</p>

			<p class="xs-text-6 text-gray--lightest xs-mb1">Posted on  Aug. 3, 2015, at 9:40 a.m.</p>

			<div class="avatar-byline gutters col xs-col-12 xs-mb2">

				<div class="avatar col xs-col-2 md-col-1">
					<a href="http://buzzfeed.com/elliewoodward">
						<img src="http://s3-ak.buzzfeed.com/static/2014-09/5/11/user_images/webdr09/elliewoodward-21202-1409931797-23_large.jpg" class="byline__avatar" alt="Ellie Woodward">
					</a>
				</div>

			<div class="byline col xs-col-10">
				<a href="/elliewoodward" class="byline__author xs-text-4 bold">Ellie Woodward</a>
				<div class="byline__title xs-text-4 text-gray--lightest">BuzzFeed Staff, UK</div>
			</div>

		</div>


		<div class="share-tools col xs-col-12 xs-mb2 md-mb4 text-white xs-text-center">
			<div class="col xs-col-2 xs-p1 fill-facebook"><i class="fa fa-facebook fa-lg"></i></div>
			<div class="col xs-col-2 xs-p1 fill-gray"><i class="fa fa-envelope fa-lg"></div>
			<div class="col xs-col-2 xs-p1 fill-green"><i class="fa fa-commenting fa-lg"></div>
			<div class="col xs-col-2 xs-p1 fill-pinterest"><i class="fa fa-pinterest fa-lg"></div>
			<div class="col xs-col-2 xs-p1 fill-twitter"><i class="fa fa-twitter fa-lg"></div>
			<div class="col xs-col-2 xs-p1 fill-tumblr"><i class="fa fa-tumblr fa-lg"></div>
		</div>


		<div class="subbuzz col xs-col-12 md-col-9 xs-mb4">

			<h2 class="xs-text-3 md-text-2 bold xs-mb2">1. When she forgot how phones work.</h2>

			<div class="image-container xs-inline-block">

				<div class="image image-1 image-1a xs-relative col xs-col-6">

					<button class="gif button overlay xs-absolute fill-gray--darker text-white">
						<i class="fa fa-play fa-lg xs-pr1"></i>GIF
					</button>

					<button class="scrub button--small overlay xs-absolute fill-gray--darker text-white xs-hide">
						<i class="fa fa-hand-o-up"></i>
					</button>

					<img src="http://cl.ly/c8qS/01a.jpg" />

				</div> <!-- /.image -->

				<div class="image image-1 image-1b xs-relative col xs-col-6 xs-pl1">

					<button class="gif button overlay xs-absolute fill-gray--darker text-white">
						<i class="fa fa-play fa-lg xs-pr1"></i>GIF
					</button>

					<button class="scrub button--small overlay xs-absolute fill-gray--darker text-white xs-hide">
						<i class="fa fa-hand-o-up"></i>
					</button>

					<img src="http://cl.ly/c8uL/01b.jpg" />

				</div> <!-- /.image -->

				<div class="image-meta clearfix xs-px1 xs-py1 fill-gray--lighter xs-border--lighter">

					<div class="col xs-col-10 xs-float-left">
						<p class="xs-text-5">Caption text goes here, caption text goes here caption text goes here.</p>
					</div>

					<div class="actions xs-float-right xs-mb1">
						<button class="button--small button--secondary xs-border--lighter text-gray--lighter">
						<i class="fa fa-share-square-o fa-lg"></i>
					</button>
					</div>

				</div> <!-- /.image-meta -->

				<h6 class="clearfix xs-float-right xs-mt1 xs-text-6 text-gray--lightest">
					<a href="dailyswiftgifs.tumblr.com" class="link-gray--lighter">theperksoftaylorswift.tumblr.com</a>
				</h6>

			</div> <!-- /.image-container -->
		</div> <!-- /.subbuzz -->


		<div class="subbuzz col xs-col-12 md-col-8 xs-mb4">

			<h2 class="xs-text-3 md-text-2 bold xs-mb2">4. And when she interrupted an interview to yell at a bee.</h2>

			<div class="image-container xs-inline-block">

				<div class="image image-4 xs-float-left xs-relative">

					<button class="gif button overlay xs-absolute fill-gray--darker text-white">
						<i class="fa fa-play fa-lg xs-pr1"></i>GIF
					</button>

					<button class="scrub button--small overlay xs-absolute fill-gray--darker text-white xs-hide">
						<i class="fa fa-hand-o-up"></i>
					</button>

					<img src="http://ak-hdl.buzzfed.com/static/2015-08/3/8/enhanced/webdr14/anigif_enhanced-29949-1438603342-13_preview.gif" />

				</div> <!-- /.image -->

				<div class="image-meta clearfix xs-px1 xs-py1 fill-gray--lighter xs-border--lighter">

					<div class="col xs-col-10 xs-float-left">
						<p class="xs-text-5">Caption text goes here, caption text goes here caption text goes here.</p>
					</div>

					<div class="actions xs-float-right xs-mb1">
						<button class="button--small button--secondary xs-border--lighter text-gray--lighter">
						<i class="fa fa-share-square-o fa-lg"></i>
					</button>
					</div>

				</div> <!-- /.image-meta -->

				<h6 class="clearfix xs-float-right xs-mt1 xs-text-6 text-gray--lightest">
					<a href="dailyswiftgifs.tumblr.com" class="link-gray--lighter">dailyswiftgifs.tumblr.com</a>
				</h6>

			</div> <!-- /.image-container -->
		</div> <!-- /.subbuzz -->


	</div> <!-- /.flow -->





</div> <!-- /.wrapper -->

	<div class="sidebar col md-col-2 xs-offset-1">


		<div class="promo xs-mb4">
			<img src="http://cl.ly/ckey/example-thumb.png"/>
			<h3 class="bold"><a href="#">Can You Oreo It?</a></h3>
		</div>

		<div class="promo xs-mb4">
			<img src="http://cl.ly/cjvV/example-thumb2.png"/>
			<h3 class="bold"><a href="#">Someone Definitely, Maybe, Possibly Farted On-Air While Taylor Swift Introduced Her "Wildest Dreams" Video</a></h3>
		</div>

		<div class="promo xs-mb4">
			<img src="http://cl.ly/ciew/example-thumb3.png"/>
			<h3 class="bold"><a href="#">26 Perfect Reactions To Nicki's VMA Clapback</a></h3>
		</div>

		<div class="promo xs-mb4">
			<img src="http://cl.ly/clbT/example-thumb4.png"/>
			<h3 class="bold"><a href="#">A News Reporter Lost His Mind Over A Giant Bug</a></h3>
		</div>


	</div>

<script>

	$(document).ready(function(){

		$('.image-1a').click(function() {
			$('.image-1a .scrub').removeClass('xs-hide');
			$('.image-1a .gif').addClass('xs-hide');
			$(".image-1a img").attr('src',"http://cl.ly/c8u4/01a.gif");
			return false;
		});

		$('.image-1b').click(function() {
			$('.image-1b .scrub').removeClass('xs-hide');
			$('.image-1b .gif').addClass('xs-hide');
			$(".image-1b img").attr('src',"http://cl.ly/c94R/01b.gif");
			return false;
		});

		$('.image-4').click(function() {
			$('.image-4 .scrub').removeClass('xs-hide');
			$('.image-4 .gif').addClass('xs-hide');
			$(".image-4 img").attr('src',"http://cl.ly/c947/anigif_enhanced-29949-1438603342-13.gif");
			return false;
		});

	});
</script>
