<style>
.container {
	width: 465px;
}
.container.mobile {
	width: 320px;
}
.podcast__imagecontainer {
	background: #c15aa6; /* Old browsers */
	background: -moz-linear-gradient(left,  #c15aa6 0%, #ea91d0 50%, #c15aa6 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, right top, color-stop(0%,#c15aa6), color-stop(50%,#ea91d0), color-stop(100%,#c15aa6)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(left,  #c15aa6 0%,#ea91d0 50%,#c15aa6 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(left,  #c15aa6 0%,#ea91d0 50%,#c15aa6 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(left,  #c15aa6 0%,#ea91d0 50%,#c15aa6 100%); /* IE10+ */
	background: linear-gradient(to right,  #c15aa6 0%,#ea91d0 50%,#c15aa6 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c15aa6', endColorstr='#c15aa6',GradientType=1 ); /* IE6-8 */
}
.podcast__image {
	width: 100%;
	height: 245px;
	background: url("http://cl.ly/dbF4/BUZZ_AUDIO_Lena_Podcast_Page.png") no-repeat bottom left;
	background-size: cover;
}
.mobile .podcast__image {
	height: 265px;
	background-size: contain;
}
</style>

<main class="xs-mt4 xs-ml6">
<h1 class="xs-mb6">BF-23755 | New Lena Podcast Launch</h1>

	<section class="clearfix container xs-mb6">
		<h5 class="xs-mb2 caps text-gray--lightest">Desktop</h5>
		<div class="podcast__imagecontainer">
			<div class="podcast__image "></div>
		</div>
	</section>

	<section class="clearfix container mobile">
		<h5 class="xs-mb2 caps text-gray--lightest">Mobile</h5>
		<div class="podcast__imagecontainer">
			<div class="podcast__image"></div>
		</div>
	</section>

</main>
