
<link rel="stylesheet" href="./css/20150901-login-big-buttons.css">

<div class="container xs-px2 xs-pb4 sm-px3">
	<div class="logo xs-mx-auto xs-text-center xs-mt2 xs-mb1">
		<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 853.3 150.1" width="125"><g fill="#E32"><path d="M0 147.3V0h65.7c28 0 42.4 17.9 42.4 37.5 0 18.3-11.5 30.9-25.4 33.8 15.9 2.4 28.3 17.7 28.3 36 0 22.3-14.6 40-42.8 40H0zM76.1 43.1c0-9.1-6.6-15.5-17.2-15.5H31.4v30.9h27.5c10.6 0 17.2-5.9 17.2-15.4zm2.9 59.8c0-9.3-6.6-16.8-18.8-16.8H31.4v33.6h28.9c11.6 0 18.7-6.2 18.7-16.8zM119.6 104.6v-64h28.2v63.1c0 12.7 7.7 21.9 22.7 21.9 14.8 0 22.6-9.2 22.6-21.9V40.6h28.1v63.9c0 26.8-16.1 45.6-50.6 45.6s-51-19-51-45.5zM230.5 147.3v-21l48.1-61.2h-48.1V40.6h86.3v20.1l-49 62.1h49.9v24.5h-87.2zM326.9 147.3v-21L375 65.1h-48.1V40.6h86.3v20.1l-49 62.1h49.9v24.5h-87.2zM424.6 147.3V0h102.2v27.6H456v30.9h53.3v27.6H456v61.2h-31.4zM517.2 93.9c0-30.9 23-55.9 55.2-55.9 32 0 53.4 23.9 53.4 58.5v6.6h-79.3c2 13 12.6 23.9 30.7 23.9 9.1 0 21.4-3.8 28.3-10.4l12.6 18.6c-10.6 9.7-27.4 14.8-43.9 14.8-32.5 0-57-21.9-57-56.1zM572.4 61c-17.4 0-25 12.1-26.1 22.7h52.6c-.9-10.2-8-22.7-26.5-22.7zM633.4 93.9c0-30.9 23-55.9 55.2-55.9 32 0 53.4 23.9 53.4 58.5v6.6h-79.3c2 13 12.6 23.9 30.7 23.9 9.1 0 21.4-3.8 28.3-10.4l12.6 18.6c-10.6 9.7-27.4 14.8-43.9 14.8-32.5 0-57-21.9-57-56.1zM688.6 61c-17.4 0-25 12.1-26.1 22.7h52.6c-.9-10.2-8-22.7-26.5-22.7zM752.3 147.5V40.4h43c33.7 0 58 20.2 58 53.5 0 33.2-24.2 53.6-57.8 53.6h-43.2zM826 93.9c0-16.6-10-30.4-29.6-30.4H779v60.9h17.4c18.7 0 29.6-14.6 29.6-30.5z"/></g></svg>
		<a class="close-modal xs-absolute text-3 text-gray--lightest">✕</a>
	</div>

	<nav class=" xs-mx-auto xs-text-center xs-mb4">
		<div class="button-group xs-full-width">
			<input class="button-group__radio" type="radio" id="option_1" value="option_1" name="options" checked="checked">
			<label class="button-group__item xs-half-width" for="option_1">Log In</label>
			<input class="button-group__radio" type="radio" id="option_2" value="option_2" name="options">
			<label class="button-group__item xs-half-width" for="option_2">Sign Up</label>
		</div>
	</nav>

	<div class="inner xs-mx2">

		<section class="login-social xs-mx-auto xs-text-center xs-mt1 xs-text-left">
			<a href="https://facebook.com" class="button button--primary xs-full-width fill-facebook xs-mb1 bold"><i class="fa fa-facebook fa-lg xs-text-center"></i> Log In with Facebook</a>
			<a href="https://twitter.com" class="button button--primary xs-full-width fill-twitter xs-mb1 bold"><i class="fa fa-twitter fa-lg xs-text-center"></i> Log In with Twitter</a>
			<a href="https://google.com" class="button button--primary xs-full-width fill-google xs-mb1 bold"><i class="fa fa-google fa-lg xs-text-center"></i> Log In with Google</a>
		</section>

		<section class="section-divider xs-border-bottom--lighter xs-mb4">
			<span class="xs-mx-auto fill-white xs-text-center circle xs-border--lighter text-gray--lightest">or</span>
		</section>

		<section class="login-form">
			<form>
				<label class="form-label">Username or email address</label>
				<input type="text" class="text-input xs-full-width xs-mb2"/>
				<label class="form-label">Password</label>
				<input type="text" class="text-input xs-full-width"/>
				<label class="form-helper xs-mb2"><a href="#">Forgot password?</a></label>
				<button class="button button--primary xs-full-width xs-mb1">Log In</button>
			</form>
		</section>

	</div>

</div>
