    <main class="content xs-mx-auto xs-text-center">
      <img src="http://media.giphy.com/media/l41lVaQTA7IUbFUWI/giphy.gif" style="width: 100%;"/>
      <h1 class="xs-mt4">¯\_(ツ)_/¯ </h1>
			<h2 class="xs-mb4">404</h2>
			<a href="./" class="button button--secondary">&lt; Home</a>
    </main>
