html {
	font-family: Helvetica,Arial,sans-serif !important;
}
.container {
}
.login-social .button {
	text-align: left;
}
.login-social .fa {
	width: 25px;
}
.login-social .fill-facebook:active {
	background-color: #001e3b;
}
.section-divider span {
	display: block;
	width: 32px;
	height: 32px;
	position: relative;
	top: 16px;
	padding-top: 4px;
}
.close-modal {
	padding: .5rem .75rem;
	right: 0;
	top: 0;
}

